@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
body {
            margin: 0;
            padding: 0;
            font-family: 'SF Pro Display', sans-serif;;
            background-color: black;
            color: #fff;
        }

.sidebar {
	width: 240px;
	float: left;
	padding: 20px;
	position: fixed;
}

#bottom-menu {
	display: none;
	margin: 0;
	width: 0;
}
.content {
	margin-left: 260px;
	padding: 20px;
}
.menu-item {
	padding-right: 13px;
	padding-left: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 9px;
	display: block;
	font-weight: 200;
	
}
.sidebar a {
	color: white;
	text-decoration: none;
}

.sidebar p {
	margin: 0;
	padding: 0;
}
	
.menu-item:hover {
	background-color: #323232;
	cursor: pointer;
	
	
}
.task-container {
	background-color: #1D1D1D;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.task-title {
	font-size: 21px;
	margin-bottom: 10px;
}
.math-formula {
	text-align: center;

	margin: 10px 0;
}

#text-task {
	font-size: 18px;
}
.solution-btn {
	background-color: #666;
	padding: 5px 10px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}

#logo {
	text-align: center;
	padding: 15px;
	font-size: 30px;
	background: none;
}

.kroshki {
	color: gray;
} 

.kroshki a {
	color: gray;
	text-decoration: none;
}

.kroshki a:hover {
	text-decoration: underline;
}
.zadachnik button {
	padding: 13px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 5px;
	border: none;
	display: block;
	width: 100%;
}

.zadachnik a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}


.zadachnik button:hover {
	background-color: #323232;

	transition: 0.3s;
	cursor: pointer;
}


#image {
	margin-right: 15px;
}

.details__title {
	 background-color: white;
	 border-radius: 30px;
	 padding: 10px;
	 width: 14%;
	 text-align: center;
	 color: black;
}

.details__title:hover {
	background-color: #aaaaaa;
	transition: 0.3s;
	cursor: pointer;
}

.details__title1 {
	 padding: 13px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 5px;
	border: none;

	width: 90%;
}

.details__title1:hover {
	background-color: #323232;
	transition: 0.3s;
	cursor: pointer;
	
}
.lightrope1 {
	Display: none;
}
.lightrope {
	 text-align: center;
	 white-space: nowrap;
	 overflow: hidden;
	 position: fixed;
	 z-index: 1;
	 margin: -15px 0 0 0;
	 padding: 0;
	 pointer-events: none;
	 width: 100%;
}
 .lightrope li {
	 position: relative;
	 animation-fill-mode: both;
	 animation-iteration-count: infinite;
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: block;
	 width: 12px;
	 height: 28px;
	 border-radius: 50%;
	 margin: 20px;
	 display: inline-block;
	 background: rgba(0, 247, 165, 1);
	 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
	 animation-name: flash-1;
	 animation-duration: 2s;
}
 .lightrope li:nth-child(2n+1) {
	 background: rgba(0, 255, 255, 1);
	 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
	 animation-name: flash-2;
	 animation-duration: 0.4s;
}
 .lightrope li:nth-child(4n+2) {
	 background: rgba(247, 0, 148, 1);
	 box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
	 animation-name: flash-3;
	 animation-duration: 1.1s;
}
 .lightrope li:nth-child(odd) {
	 animation-duration: 1.8s;
}
 .lightrope li:nth-child(3n+1) {
	 animation-duration: 1.4s;
}
 .lightrope li:before {
	 content: "";
	 position: absolute;
	 background: #222;
	 width: 10px;
	 height: 9.3333333333px;
	 border-radius: 3px;
	 top: -4.6666666667px;
	 left: 1px;
}
 .lightrope li:after {
	 content: "";
	 top: -14px;
	 left: 9px;
	 position: absolute;
	 width: 52px;
	 height: 18.6666666667px;
	 border-bottom: solid #222 2px;
	 border-radius: 50%;
}
 .lightrope li:last-child:after {
	 content: none;
}
 .lightrope li:first-child {
	 margin-left: -40px;
}
 @keyframes flash-1 {
	 0%, 100% {
		 background: rgba(0, 247, 165, 1);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
	}
	 50% {
		 background: rgba(0, 247, 165, 0.4);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
	}
}
 @keyframes flash-2 {
	 0%, 100% {
		 background: rgba(0, 255, 255, 1);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
	}
	 50% {
		 background: rgba(0, 255, 255, 0.4);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
	}
}
 @keyframes flash-3 {
	 0%, 100% {
		 background: rgba(247, 0, 148, 1);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
	}
	 50% {
		 background: rgba(247, 0, 148, 0.4);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
	}
}

#dz img {
	margin-right: 5px;
}
#dz1 {
	background: none;
	padding:10px;
	border: none;
	background: black;
	font-size: 15px;
	margin: 15px;
	margin-left: 0px;
	color: white;
	border-radius: 7px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 7px;
	border: none;
	margin-top: 0px;
	font-weight: 200;

}



#dz a{	
	color: white;
	text-decoration: none;

}

#dz1:hover {
	background-color: #323232;

	transition: 0.3s;
	cursor: pointer;
}

#akt img{
	border-radius: 10px;
	
}

#akt1 {
	Display: none;
}

#akt img:hover {
	box-shadow: 1px 3px 72px 0px rgba(245, 245, 245, 0.28);
	transition: 0.3s;
	
}
#kons {
	background: none;
	padding:10px;
	border: none;
	background: black;
	font-size: 15px;
	margin: 15px;
	margin-left: 0px;
	color: white;
	border-radius: 7px;
	padding: 9px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 7px;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 200;
	margin-top: 0px;
}

#kons:hover {
		background-color: #323232;

	transition: 0.3s;
	cursor: pointer;
	
}

#pim {
	text-align: center;
}

#u1 {
	display: none;
}

#piz {
	border-radius: 10px;
	box-shadow: -1px 1px 23px 0px rgba(255, 255, 255, 0.2);
	padding: 10px;
	background-color: gray;
}



#lit button {
	background-color: black;
	border: none;
	text-align: left;
	margin: 10px;
	border-radius: 5px;

}

#lit a:hover {
	text-decoration: underline;

	
}


#lit span {
	margin-bottom: 10px;

}
#lit a{
	color: white;
	text-decoration: none;
}

/* Стиль вкладки */
.tab {
  overflow: hidden;
  margin-bottom: 15px;
  width: 75%;
  
}

/* Стиль кнопок, которые используются для открытия содержимого вкладки */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 18px;
  transition: 0.3s;
  background-color: #1D1D1D;
  border-radius: 50px;
  margin-right: 10px;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Изменить цвет фона кнопок при наведении */
.tab button:hover {
  background-color: #323232;
}

/* Создайте активный / текущий класс tablink */
.tab button.active {
  background-color: #323232;
}

/* Стиль содержимого вкладки */
.tabcontent {
  display: none;

  border-top: none;
}

#abouti {
	padding: 14px;
	border: 1px solid gray;
	color: gray;
	width: 76%;
	padding-bottom: 17px;


}	


#abouti img {
	margin-right: 10px;
	
	
}

#myUL {
	list-style: none;
	padding-left: 0;
	
}

#myUL li {
	background: none;
	padding:10px;
	border: none;
	background: black;
	font-size: 15px;
	margin: 15px;
	margin-left: 0px;
	color: white;
	border-radius: 7px;
	padding: 9px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 7px;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 200;
	margin-top: 0px;
	width: 50%;
	
	
	
}

#myUL li:hover {
	
	background-color: #323232;
	cursor: pointer;
}

#myInput {
		background: none;
	padding:10px;
	border: none;
	background: black;
	font-size: 15px;
	margin: 15px;
	margin-left: 0px;
	color: white;
	border-radius: 7px;
	padding: 9px;
	margin-bottom: 15px;
	background-color: #1D1D1D;
	border-radius: 7px;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 200;
	margin-top: 0px;
	width: 50%;
	
}


#myUL a {
	text-decoration: none;
	color: white;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	
	.sidebar {
		display:none;
		width:0%;
	}
	.content {
	margin-left: 0px;
	padding: 20px;
	margin-right: 0px;
	width: 100%;
	}
	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  
	#bottom-menu {
		 -webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(29, 29, 29, 0.2);

	  }
	.lightrope {
		Display: none;
	}
	#bottom-menu {
		position: fixed;
		display: inline;
		bottom: 0;
		width: 92%;
		padding: 5px;
		text-align: center;
	
border-radius: 25px; background: rgba(255, 255, 255, 0.12); backdrop-filter: blur(18px); -webkit-backdrop-filter: blur(18px); border: 1px solid rgba(255, 255, 255, 0.2);

		margin: 3%;

		}
	
	

	#bottom-menu button {
		border: none;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 4px;
		background: none;
		margin-bottom: 4px;
	}
	
	#myUL li {
		width: 98%;
		font-size: 19px;
	}
	
	#myInput {
		width: 98%;
		font-size: 19px;
	}
	
	.task-container {
	background-color: #1D1D1D;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	width: 91%;
	margin-right: 0px;
	}
	.task-title {
	font-size: 21px;
	margin-bottom: 10px;
}
	.math-formula {
	text-align: center;
	font-size: 17px;
	margin: 10px 0;
	width: 70%;
}
	.details__title {
	 background-color: white;
	 border-radius: 30px;
	 padding: 10px;
	 width: 40%;
	 text-align: center;
	 color: black;
	 margin-right: 15px;
}
	.sidebar1 a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

	.sidebar1 p {
	margin: 0;
	padding: 0;
}
	#k {
		font-size: 10px;
	}
	

	#u1 {
		display: inline;
	}
	#u {
		Display: none;
	}
	#lit {
	text-align: center;
	}
	#akt {
		display: none;
	}
	#akt1 {
		Display: inline;
		text-align: center;
	}
	#akt1 img{
	border-radius: 10px;
	
	
	}

	

	#akt1 img:hover {
	box-shadow: 1px 3px 72px 0px rgba(245, 245, 245, 0.28);
	transition: 0.3s;
	}
	.lightrope1 {
		Display: inline;
	 text-align: center;
	 white-space: nowrap;
	 overflow: hidden;
	 position: fixed;
	 z-index: 1;
	 margin: -15px 0 0 0;
	 padding: 0;
	 pointer-events: none;
	 width: 100%;
}
 .lightrope1 li {
	 position: relative;
	 animation-fill-mode: both;
	 animation-iteration-count: infinite;
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: block;
	 width: 12px;
	 height: 28px;
	 border-radius: 50%;
	 margin: 20px;
	 display: inline-block;
	 background: rgba(0, 247, 165, 1);
	 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
	 animation-name: flash-1;
	 animation-duration: 2s;
}
 .lightrope1 li:nth-child(2n+1) {
	 background: rgba(0, 255, 255, 1);
	 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
	 animation-name: flash-2;
	 animation-duration: 0.4s;
}
 .lightrope1 li:nth-child(4n+2) {
	 background: rgba(247, 0, 148, 1);
	 box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
	 animation-name: flash-3;
	 animation-duration: 1.1s;
}
 .lightrope1 li:nth-child(odd) {
	 animation-duration: 1.8s;
}
 .lightrope1 li:nth-child(3n+1) {
	 animation-duration: 1.4s;
}
 .lightrope1 li:before {
	 content: "";
	 position: absolute;
	 background: #222;
	 width: 10px;
	 height: 9.3333333333px;
	 border-radius: 3px;
	 top: -4.6666666667px;
	 left: 1px;
}
 .lightrope1 li:after {
	 content: "";
	 top: -14px;
	 left: 9px;
	 position: absolute;
	 width: 52px;
	 height: 18.6666666667px;
	 border-bottom: solid #222 2px;
	 border-radius: 50%;
}
 .lightrope1 li:last-child:after {
	 content: none;
}
 .lightrope1 li:first-child {
	 margin-left: 0;
}
 @keyframes flash-1 {
	 0%, 100% {
		 background: rgba(0, 247, 165, 1);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
	}
	 50% {
		 background: rgba(0, 247, 165, 0.4);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
	}
}
 @keyframes flash-2 {
	 0%, 100% {
		 background: rgba(0, 255, 255, 1);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
	}
	 50% {
		 background: rgba(0, 255, 255, 0.4);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
	}
}
 @keyframes flash-3 {
	 0%, 100% {
		 background: rgba(247, 0, 148, 1);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
	}
	 50% {
		 background: rgba(247, 0, 148, 0.4);
		 box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
	}
}	.tab {
	width: 98%;
	}	
	
}
